# DataFrames

In [1]:
import pandas as pd
import numpy as np

In [2]:
from numpy.random import randn

In [3]:
np.random.seed(1)
randn(5,4)

array([[ 1.62434536, -0.61175641, -0.52817175, -1.07296862],
       [ 0.86540763, -2.3015387 ,  1.74481176, -0.7612069 ],
       [ 0.3190391 , -0.24937038,  1.46210794, -2.06014071],
       [-0.3224172 , -0.38405435,  1.13376944, -1.09989127],
       [-0.17242821, -0.87785842,  0.04221375,  0.58281521]])

In [4]:
np.random.seed(102)
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [5]:
df

          W         X         Y         Z
A  1.668068  0.925862  1.057997 -0.920339
B  1.299748  0.331183 -0.509845 -0.903099
C -0.130016 -2.238203  0.973165 -0.024185
D -0.484928 -1.109264 -0.558975  1.042387
E -1.712263  0.136120 -0.464444  0.050980

## Selection and Indexing

Let's learn the various methods to grab data from a DataFrame

In [6]:
df[  ['W']  ]

          W
A  1.668068
B  1.299748
C -0.130016
D -0.484928
E -1.712263

In [7]:
# Pass a list of column names
df[ ['W','Z'] ]

          W         Z
A  1.668068 -0.920339
B  1.299748 -0.903099
C -0.130016 -0.024185
D -0.484928  1.042387
E -1.712263  0.050980

In [8]:
# SQL Syntax (NOT RECOMMENDED!)
df.W

A    1.668068
B    1.299748
C   -0.130016
D   -0.484928
E   -1.712263
Name: W, dtype: float64

DataFrame Columns are just Series

In [9]:
type(df['W'])

pandas.core.series.Series

**Creating a new column:**

In [10]:
df['new'] = df['W'] + df['Y']

In [11]:
df

          W         X         Y         Z       new
A  1.668068  0.925862  1.057997 -0.920339  2.726065
B  1.299748  0.331183 -0.509845 -0.903099  0.789903
C -0.130016 -2.238203  0.973165 -0.024185  0.843149
D -0.484928 -1.109264 -0.558975  1.042387 -1.043903
E -1.712263  0.136120 -0.464444  0.050980 -2.176707

** Removing Columns**

In [12]:
df.drop('new',axis=1)

          W         X         Y         Z
A  1.668068  0.925862  1.057997 -0.920339
B  1.299748  0.331183 -0.509845 -0.903099
C -0.130016 -2.238203  0.973165 -0.024185
D -0.484928 -1.109264 -0.558975  1.042387
E -1.712263  0.136120 -0.464444  0.050980

In [13]:
# Not inplace unless specified!
df

          W         X         Y         Z       new
A  1.668068  0.925862  1.057997 -0.920339  2.726065
B  1.299748  0.331183 -0.509845 -0.903099  0.789903
C -0.130016 -2.238203  0.973165 -0.024185  0.843149
D -0.484928 -1.109264 -0.558975  1.042387 -1.043903
E -1.712263  0.136120 -0.464444  0.050980 -2.176707

In [14]:
df.drop('new',axis=1,inplace=True)

In [15]:
df

          W         X         Y         Z
A  1.668068  0.925862  1.057997 -0.920339
B  1.299748  0.331183 -0.509845 -0.903099
C -0.130016 -2.238203  0.973165 -0.024185
D -0.484928 -1.109264 -0.558975  1.042387
E -1.712263  0.136120 -0.464444  0.050980

Can also drop rows this way:

In [16]:
df.drop('E',axis=0)

          W         X         Y         Z
A  1.668068  0.925862  1.057997 -0.920339
B  1.299748  0.331183 -0.509845 -0.903099
C -0.130016 -2.238203  0.973165 -0.024185
D -0.484928 -1.109264 -0.558975  1.042387

In [17]:
df.loc['A']

W    1.668068
X    0.925862
Y    1.057997
Z   -0.920339
Name: A, dtype: float64

In [18]:
df.iloc[:, 2]

A    1.057997
B   -0.509845
C    0.973165
D   -0.558975
E   -0.464444
Name: Y, dtype: float64

** Selecting Rows**

Or select based off of position instead of label

In [19]:
df.iloc[2]

W   -0.130016
X   -2.238203
Y    0.973165
Z   -0.024185
Name: C, dtype: float64

** Selecting subset of rows and columns **

In [20]:
df

          W         X         Y         Z
A  1.668068  0.925862  1.057997 -0.920339
B  1.299748  0.331183 -0.509845 -0.903099
C -0.130016 -2.238203  0.973165 -0.024185
D -0.484928 -1.109264 -0.558975  1.042387
E -1.712263  0.136120 -0.464444  0.050980

In [21]:
df.loc['B','Y']

-0.5098449678999922

In [22]:
df.loc[ ['A','B'], ['W', 'X'] ]

          W         X
A  1.668068  0.925862
B  1.299748  0.331183

### Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy:

In [23]:
df

          W         X         Y         Z
A  1.668068  0.925862  1.057997 -0.920339
B  1.299748  0.331183 -0.509845 -0.903099
C -0.130016 -2.238203  0.973165 -0.024185
D -0.484928 -1.109264 -0.558975  1.042387
E -1.712263  0.136120 -0.464444  0.050980

In [24]:
df>0

       W      X      Y      Z
A   True   True   True  False
B   True   True  False  False
C  False  False   True  False
D  False  False  False   True
E  False   True  False   True

In [25]:
df[df>0]

          W         X         Y         Z
A  1.668068  0.925862  1.057997       NaN
B  1.299748  0.331183       NaN       NaN
C       NaN       NaN  0.973165       NaN
D       NaN       NaN       NaN  1.042387
E       NaN  0.136120       NaN  0.050980

In [26]:
df[df['Y']>0]

          W         X         Y         Z
A  1.668068  0.925862  1.057997 -0.920339
C -0.130016 -2.238203  0.973165 -0.024185

In [27]:
df[df['W']>0]['Y']

A    1.057997
B   -0.509845
Name: Y, dtype: float64

In [28]:
df[df['W']>0][['Y','X']]

          Y         X
A  1.057997  0.925862
B -0.509845  0.331183

For two conditions you can use | and & with parenthesis:

In [29]:
df[(df['W']>0) & (df['Y'] > 1)]

          W         X         Y         Z
A  1.668068  0.925862  1.057997 -0.920339

## More Index Details

Let's discuss some more features of indexing, including resetting the index or setting it something else. We'll also talk about index hierarchy!

In [30]:
df

          W         X         Y         Z
A  1.668068  0.925862  1.057997 -0.920339
B  1.299748  0.331183 -0.509845 -0.903099
C -0.130016 -2.238203  0.973165 -0.024185
D -0.484928 -1.109264 -0.558975  1.042387
E -1.712263  0.136120 -0.464444  0.050980

In [31]:
# Reset to default 0,1...n index
df.reset_index()

  index         W         X         Y         Z
0     A  1.668068  0.925862  1.057997 -0.920339
1     B  1.299748  0.331183 -0.509845 -0.903099
2     C -0.130016 -2.238203  0.973165 -0.024185
3     D -0.484928 -1.109264 -0.558975  1.042387
4     E -1.712263  0.136120 -0.464444  0.050980

In [38]:
newind = 'CA,NY,WY,OR,CO'.split(',')

In [39]:
newind

['CA', 'NY', 'WY', 'OR', 'CO']

In [40]:
df['States'] = newind

In [41]:
df

          W         X         Y         Z States
A  1.668068  0.925862  1.057997 -0.920339     CA
B  1.299748  0.331183 -0.509845 -0.903099     NY
C -0.130016 -2.238203  0.973165 -0.024185     WY
D -0.484928 -1.109264 -0.558975  1.042387     OR
E -1.712263  0.136120 -0.464444  0.050980     CO

In [42]:
df.set_index('States')

               W         X         Y         Z
States
CA      1.668068  0.925862  1.057997 -0.920339
NY      1.299748  0.331183 -0.509845 -0.903099
WY     -0.130016 -2.238203  0.973165 -0.024185
OR     -0.484928 -1.109264 -0.558975  1.042387
CO     -1.712263  0.136120 -0.464444  0.050980

In [46]:
df

          W         X         Y         Z States
A  1.668068  0.925862  1.057997 -0.920339     CA
B  1.299748  0.331183 -0.509845 -0.903099     NY
C -0.130016 -2.238203  0.973165 -0.024185     WY
D -0.484928 -1.109264 -0.558975  1.042387     OR
E -1.712263  0.136120 -0.464444  0.050980     CO

In [47]:
df.set_index('States',inplace=True)

In [49]:
df

               W         X         Y         Z
States
CA      1.668068  0.925862  1.057997 -0.920339
NY      1.299748  0.331183 -0.509845 -0.903099
WY     -0.130016 -2.238203  0.973165 -0.024185
OR     -0.484928 -1.109264 -0.558975  1.042387
CO     -1.712263  0.136120 -0.464444  0.050980

## Multi-Index and Index Hierarchy

Let us go over how to work with Multi-Index, first we'll create a quick example of what a Multi-Indexed DataFrame would look like:

In [61]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))

In [62]:
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [55]:
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [57]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [58]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

             A         B
G1 1  1.447899  0.593138
   2 -0.755616 -0.627166
   3  0.884035  0.162718
G2 1 -2.502813  0.410791
   2  0.728750  0.029140
   3 -0.291052  0.314293

Now let's show how to index this! For index hierarchy we use df.loc[], if this was on the columns axis, you would just use normal bracket notation df[]. Calling one level of the index returns the sub-dataframe:

In [59]:
df.loc['G1']

          A         B
1  1.447899  0.593138
2 -0.755616 -0.627166
3  0.884035  0.162718

In [60]:
df.loc['G1'].loc[1]

A    1.447899
B    0.593138
Name: 1, dtype: float64

In [0]:
df.index.names

FrozenList([None, None])

In [0]:
df.index.names = ['Group','Num']

In [0]:
df

                  A         B
Group Num
G1    1    0.153661  0.167638
      2   -0.765930  0.962299
      3    0.902826 -0.537909
G2    1   -1.549671  0.435253
      2    1.259904 -0.447898
      3    0.266207  0.412580

In [0]:
df.xs('G1')

            A         B
Num
1    0.153661  0.167638
2   -0.765930  0.962299
3    0.902826 -0.537909

In [0]:
df.xs(['G1',1])

A    0.153661
B    0.167638
Name: (G1, 1), dtype: float64

In [0]:
df.xs(1,level='Num')

              A         B
Group
G1     0.153661  0.167638
G2    -1.549671  0.435253

# Great Job!