In [ ]:
# To setup database usingd docker refer - https://dev.to/sonyarianto/how-to-spin-mysql-server-with-docker-and-docker-compose-33b2

In [1]:
import mysql.connector

In [2]:
db = mysql.connector.connect(
  host="pythonvm.westus.cloudapp.azure.com",
  user="root",
  passwd="Azure@123456",
  database="atindb"
)

print(db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7fe38c253890>

In [3]:
# Create Table

# prepare a cursor object using cursor() method
cursor = db.cursor()

# Drop table if it already exist using execute() method.
cursor.execute("DROP TABLE IF EXISTS EMPLOYEE_Atin")

# Create table as per requirement
sql = """CREATE TABLE EMPLOYEE_Atin (
         FIRST_NAME  CHAR(20) NOT NULL,
         LAST_NAME  CHAR(20),
         AGE INT,  
         SEX CHAR(1),
         INCOME FLOAT )"""

cursor.execute(sql)

In [5]:

# Prepare SQL query to INSERT a record into the database.
sql = """INSERT INTO EMPLOYEE_Atin(FIRST_NAME,
         LAST_NAME, AGE, SEX, INCOME)
         VALUES ('Windows', 'Atin', 20, 'M', 2000)"""
try:
   # Execute the SQL command
   cursor.execute(sql)
   # Commit your changes in the database
   db.commit()
except:
   # Rollback in case there is any error
   db.rollback()

In [6]:



# Prepare SQL query to UPDATE required records
sql = "UPDATE EMPLOYEE_Atin SET AGE = AGE + 1 WHERE SEX = '%c'" % ('M')
try:
   # Execute the SQL command
   cursor.execute(sql)
   # Commit your changes in the database
   db.commit()
except:
   # Rollback in case there is any error
   db.rollback()

In [8]:
sql = "SELECT * FROM EMPLOYEE_Atin \
       WHERE INCOME > '%d'" % (1000)
try:
   # Execute the SQL command
   cursor.execute(sql)
   # Fetch all the rows in a list of lists.
   results = cursor.fetchall()
   for row in results:
      fname = row[0]
      lname = row[1]
      age = row[2]
      sex = row[3]
      income = row[4]
      # Now print fetched result
      print ("fname=%s,lname=%s,age=%d,sex=%s,income=%d" % \
             (fname, lname, age, sex, income ))
except:
   print ("Error: unable to fecth data")

fname=Mac,lname=Mohan,age=21,sex=M,income=2000
fname=Windows,lname=Atin,age=21,sex=M,income=2000

In [7]:
# disconnect from server
db.close()