### Scala Values

In [8]:
val x: Int = 5

x: Int = 5

In [10]:
x

res2: Int = 5

In [12]:
x * 2

res3: Int = 10

In [13]:
x * 2

res4: Int = 10

### Variables, which unlike values are mutable
####  Can be reassigned new values

In [127]:
// Are defined with the syntax var <name>: <type> = <literal>

In [18]:
var a: Double = 2.72

a: Double = 2.72

In [19]:
a = 355.0 / 113.0

a: Double = 3.1415929203539825

In [20]:
a = 5

a: Double = 5.0

### Values are immutable, typed storage units
### By convention are the default method for storing data.

In [128]:
//  Syntax: Defining a Value
//  val <identifier>[: <type>] = <data>

### Values require both a name and assigned data, but they do not require an explicit type.

In [129]:
// If the type is not specified (i.e., the “: <type>” syntax is not included), 
// the Scala compiler will infer the type based on the assigned data.

In [23]:
val x: Int = 20

x: Int = 20

In [24]:
val greeting: String = "Hello, World"

greeting: String = Hello, World

In [26]:
val atSymbol: Char = '@'

atSymbol: Char = @

In [27]:
// Type not specified

val x = 20

x: Int = 20

In [28]:
// Type not specified

val greeting = "Hello, World"

greeting: String = Hello, World

In [ ]:
// Type not specified
val atSymbol = '@'

### Although type inference will deduce the correct type to use to store data, it will not override an explicit type
### if you define a value with a type that is incompatible with the initial value you will get a compilation error.

In [ ]:
 val x: Int = "Hello

In [23]:
var y = 1.5

y: Double = 1.5

In [21]:
y+=1
y

res11: Double = 3.5

In [13]:
y

res5: Double = 1.5

In [25]:
val z = 1.5

z: Double = 1.5

In [27]:
// Error
z = z + 1
z

<console>: 27: error: reassignment to val

## Scala Data Types
### Byte
### Short
### Int
### Long
### Float
### Double
### String
### Boolean
### Char

## Regular Expressions

In [30]:
val input = "Enjoying this apple 3.14159 times today"

input: String = Enjoying this apple 3.14159 times today

In [34]:
val pattern = """.* apple ([\d.]+) times .*""".r

pattern: scala.util.matching.Regex = .* apple ([\d.]+) times .*

In [35]:
val pattern(amountText) = input

amountText: String = 3.14159

In [36]:
val amount = amountText.toDouble

amount: Double = 3.14159

In [37]:
// Tuples in Scala

In [38]:
val info = (5, "Korben", true)

info: (Int, String, Boolean) = (5,Korben,true)

In [39]:
// Can access an individual element from a tuple by its 1-based index
val name = info._2

name: String = Korben

In [40]:
// Write a new Centigrade-to-Fahrenheit conversion (using the formula (x * 9/5) + 32), 
// saving each step of the conversion into separate values. What do you expect
// the type of each value will be?

In [41]:
// Modify the Centigrade-to-Fahrenheit formula to return an integer instead of a
// floating-point number.

In [44]:
// Using the input value 2.7255, generate the string “You owe $2.73.” 
// Is this doable with string interpolation?

In [43]:
// Using the input string “Frank,123 Main,925-555-1943,95122” and regular expression matching, retrieve the telephone number.

### Expressions
#### An expression is a single unit of code that returns a value.

In [46]:
// A line with two expressions

val x = 5 * 20; val amount = x + 10

x: Int = 100
amount: Int = 110

In [47]:
// Only amount value is kept.
// “x + 10,” determines the block’s return value.
val amount = { val x = 5 * 20; x + 10 }

amount: Int = 110

In [49]:
// Expression blocks can span as many lines as you need. 

val amount = {
 val x = 5 * 20
 x + 10
 }

amount: Int = 110

### Expression blocks are also nestable, with each level of expression block having its own scoped values and variables

In [56]:
val z = { 
    val a = 1; 
    { 
        val b = a * 2;
        { 
            val c = b + 4; c 
        } 
    } 
}

z: Int = 6

### Statement
#### A statement is just an expression that doesn’t return a value. 
#### Some common statements used in Scala programming include 
#### calls to println() and
#### value and variable definitions.

In [60]:
val x = 1;

x: Int = 1

In [63]:
println(x)

1

### If..Else Expression Blocks

In [65]:
if ( 47 % 3 > 0 ) println("Not a multiple of 3")

Not a multiple of 3

In [67]:
val x = 10; val y = 20

x: Int = 10
y: Int = 20

In [68]:
val max = if (x > y) x else y

max: Int = 20

### Match Expressions
#### Match expressions are akin to C’s and Java’s “switch” statements

In [70]:
val max = x > y match {
 case true => x
 case false => y
 }

max: Int = 20

In [71]:
val status = 500

status: Int = 500

In [72]:
val message = status match {
 case 200 =>
     "ok"
 case 400 => {
     println("ERROR - we called the service incorrectly")
     "error"
 }
 case 500 => {
     println("ERROR - the service encountered an error")
     "error"
 }
}

ERROR - the service encountered an error

message: String = error

In [74]:
val day = "MON"

day: String = MON

In [75]:
val kind = day match {
 case "MON" | "TUE" | "WED" | "THU" | "FRI" =>
     "weekday"
 case "SAT" | "SUN" =>
     "weekend"
 }

kind: String = weekday

#### Matching with Pattern Guards

##### A pattern guard adds an if expression to a value-binding pattern, making it possible to 
##### mix conditional logic into match expressions.

In [138]:
// case <pattern> if <Boolean expression> => <one or more expressions>

In [ ]:
val s: String = null

In [ ]:
response match {
 case s if s != null => println(s"Received '$s'")
 case s => println("Error! Received a null response")
 }

In [ ]:
// Matching Types with Pattern Variables
case <identifier>: <type> => <one or more expressions>

In [ ]:
val x: Int = 12180

In [ ]:
val y: Any = x

In [ ]:
y match {
 case x: String => s"'x'"
 case x: Double => f"$x%.2f"
 case x: Float => f"$x%.2f"
case x: Long => s"${x}l"
 case x: Int => s"${x}i"
 }

### Loops

In [80]:
for (x <- 1 to 7)
{ 
    println(s"Day $x:") 
}

Day 1:
Day 2:
Day 3:
Day 4:
Day 5:
Day 6:
Day 7:

In [81]:
for (x <- 1 to 7) 
    yield { s"Day $x:" }

res34: scala.collection.immutable.IndexedSeq[String] = Vector(Day 1:, Day 2:, Day 3:, Day 4:, Day 5:, Day 6:, Day 7:)

In [82]:
val threes = for (i <- 1 to 20 if i % 3 == 0) yield i

threes: scala.collection.immutable.IndexedSeq[Int] = Vector(3, 6, 9, 12, 15, 18)

### Nested Iterators

In [84]:
for { x <- 1 to 2
 y <- 1 to 3 }
 { 
     print(s"($x,$y) ") 
 }

(1,1) (1,2) (1,3) (2,1) (2,2) (2,3)

### While and Do/While Loops

In [90]:
var x = 10; 
while (x > 0)
    x -= 1

x: Int = 0

In [91]:
val x = 0

x: Int = 0

In [139]:
do 
    println(s"Here I am, x = $x") 
while (x > 0)

Here I am, x = 0

### Exercises

In [140]:

// Given a string name, write a match expression that will return the same string if
// nonempty, or else the string “n/a” if it is empty

In [141]:
// Given a double amount, write an expression to return “greater” if it is more than
// zero, “same” if it equals zero, and “less” if it is less than zero. Can you write this with
// if..else blocks? How about with match expressions?

In [142]:
// Print the numbers 1 to 100, with each line containing a group of five numbers. For
// example:
// 1, 2, 3, 4, 5,
// 6, 7, 8, 9, 10
// ....

### Functions

In [ ]:
// Syntax: Defining an Input-less Function
// def <identifier> = <expression>

In [ ]:
def hi = "hi"

In [ ]:
hi

In [ ]:
// Syntax: Defining a Function with a Return Type
  // def <identifier>: <type> = <expression>

In [ ]:
def hi: String = "hi"

In [ ]:
//Syntax: Defining a Function
// def <identifier>(<identifier>: <type>[, ... ]): <type> = <expression>

In [104]:
def multiplier(x: Int, y: Int): Int = {
    x * y   //This final line becomes the return value of the expression and thus the function.
}

multiplier: (x: Int, y: Int)Int

In [99]:
// Can use the return keyword to specify a function’s return value explicitly and exit

def safeTrim(s: String): String = {
 if (s == null) return null
 s.trim()
 }

safeTrim: (s: String)String

#### Calling Functions with Named Parameters

In [103]:
def greet(prefix: String, name: String) = s"$prefix $name

<console>: 2: error: unclosed string literal

In [ ]:
val greeting1 = greet("Ms", "Brown")

In [ ]:
val greeting2 = greet(name = "Brown", prefix = "Mr")

In [106]:
// Parameters with Default Values
def greet(prefix: String = "", name: String) = s"$prefix$name"

greet: (prefix: String, name: String)String

In [107]:
val greeting1 = greet(name = "Paul")

greeting1: String = Paul

### Procedures

#### A procedure is a function that doesn’t have a return value. 
#### Any function that ends with a statement, such as a println() call, is also a procedure

In [109]:
def log(d: Double) = println(f"Got value $d%.2f")

log: (d: Double)Unit

In [110]:
log(2.23535)

Got value 2.24

### Functions with Empty Parentheses

In [112]:
// An alternate way to define and invoke an input-less function (one which has no input parameters) is with empty parentheses

In [113]:
// Syntax: Defining a Function with Empty Parentheses
//  def <identifier>()[: <type>] = <expression>

In [117]:
def hi(): String = "hi"

hi: ()String

In [118]:
hi()

res56: String = hi

In [120]:
hi

res58: String = hi

### Function Invocation with Expression Blocks

In [144]:
// Syntax: Invoking a Function with an Expression Block
//  <function identifier> <expression block>

In [123]:
def formatEuro(amt: Double) = f"€$amt%.2f"

formatEuro: (amt: Double)String

In [124]:
formatEuro { val rate = 1.32; 0.235 + 0.7123 + rate * 5.32 }

res60: String = €7.97

### Exercises

In [145]:
// Write a function that computes the area of a circle given its radius

In [146]:
// Provide an alternate form of the function in exercise 1 that takes the radius as a String. 
// What happens if your function is invoked with an empty String ?

### Classes

In [151]:
class Arithmetic{  
    def add(a:Int, b:Int){  
        var add = a+b;  
        println("sum = "+add);  
    }  
}

defined class Arithmetic

In [155]:
var obj1 = new Arithmetic();

obj1: Arithmetic = Arithmetic@e5acbc0

In [157]:
obj1.add(12,13)

sum = 25

#### Scala Constructor

In [164]:
class Student{  
println("Hello from default constructor");  
}

defined class Student

In [165]:
var s1 = new Student();

Hello from default constructor

s1: Student = Student@7b4b1e84